.hidden {
    display: none;
}

body{
    background-color: $tikibone;
    color: $tikipurple;
}

h1, h2 {
    font-family: $header;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    color: $tikipurple;
}

h3 {
    color: $tikigreen;
    font-size: 1.5em;
}

h4, p {
    font-family: $body;
    font-weight: 400;
    font-style: normal;
    font-size: 1.15em;
    padding: 10px;
}

.main-container {
    font-family: $body;
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
}

.main-logo {
    max-height: 116px!important;
    height:100%;
    padding-top: 1em;
}


//index
.login-container {
    margin: 0 auto;
    form {    
        display: flex;
        flex-direction: column !important;
        justify-content: space-around;
        #login {
            background-color: $tikiaqua;
            color: $tikibone;
            width: 75px;
            height: 30px;
            margin: 10px;
            border-radius: 8px        ;
            -webkit-border-radius: 8px        ;
            -moz-border-radius: 8px        ;
            -ms-border-radius: 8px        ;
            -o-border-radius: 8px        ;
        }
        #login:hover {
            background-color: $tikipink;
            color: $tikibone;
        }
        #username {
            max-width: 200px;
            padding: 10px;
            margin: 10px;
            border-radius: 8px        ;
            -webkit-border-radius:8px;
            -moz-border-radius:8px;
            -ms-border-radius:8px;
            -o-border-radius:8px;
        }
        #password {
            max-width: 200px;
            padding: 10px;
            margin: 10px;
            border-radius: 8px        ;
            -webkit-border-radius:8px;
            -moz-border-radius:8px;
            -ms-border-radius:8px;
            -o-border-radius:8px;
        }
    }
}

#anon {
    padding-left: 10px;
    padding-top: 10px;
    a { 
        text-decoration: none;
        color: $tikipurple;
    }
    a:hover {
        font-style: italic;
        color: $tikigreen;
    }
}

// chat page

.greeting {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1em;
}

.chat-con {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    margin-top: 2.5em;
    margin: 0 auto;
}

.message-wrapper {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    .text-message {
        max-width: 600px;
        width: 100%;
        font-family: $body;
    }
    #send-chat {
        font-size:1.2em;
        background-color: $tikipurple;
        color: $tikibone;
        height: 40px;
        width: 30%;
        margin: 0 auto;
        margin-top:10px;
        border-radius: 4px    ;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
    #send-chat:hover{
        background-color: $tikigreen;
        color: $tikiblack;
    }
}
