$tikiaqua: rgb(19, 175, 155);

$tikipink: rgb(236, 80, 100);

$tikiblue: rgb(1, 139, 176);

$tikiorange: rgb(254, 116, 79);

$tikigreen: rgb(180, 207, 104);

$tikipurple: rgb(75, 48, 151);

$tikibone: rgb(247, 240, 245);

$tikiblack: rgb(31, 31, 31);

$header: kon-tiki-aloha-jf, sans-serif;

$body: forma-djr-text, sans-serif;

