$tikigreen: rgba(132,161,156,1);

$tikidarkgreen: rgb(53, 89, 83);

$tikiblue: rgb(84,124,164);

$tikidarkblue: rgb(13,68,125);

//$tikibone: #

$tikiblack: #1f1f1f;

$header: kon-tiki-aloha-jf, sans-serif;

$body: forma-djr-text, sans-serif;

